.venv
app/__pycache__/stitch.cpython-38.pyc
app/__pycache__/main.cpython-38.pyc
app/__pycache__/__init__.cpython-38.pyc
app/.env
checkpoints
app/__pycache__
__sample__
sample.txt
sample.json
.gitignore
.DS_Store